{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landingpage/css/style.css' %}">
    <title>Terms and Condicions</title>
</head>
<body>

    <section class="hero-terms">
            <h1 class="terms-title">The Ebook has been sent to your email</h1>
            <p class="terms-description"> For more information, visit www.breakedge.com </p>
    </section>

    <footer class="footer-style">
        © {% now "Y" %} Breakedge - Todos os direitos reservados.
    </footer>
</body>
</html>